name: Compile Test
on: [push, pull_request]
jobs:
  compiletest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
    - name: Download Kernel Source
      run: |
        source ./version
        _RC=$(echo $KVER | tr -d 1234567890.)
        
        if [ -n "$_RC" ]; then
          KSRC_URL=https://git.kernel.org/torvalds/t/linux-${KVER}.tar.gz
        else
          KSRC_URL=https://cdn.kernel.org/pub/linux/kernel/v${KVER//.*}.x/linux-${KVER}.tar.xz
        fi
        
        curl $KSRC_URL | tar -xJ
    - name: Install Build Dependencies
      run: |
        sudo apt-get install -y build-essential fakeroot libncurses-dev bison flex libssl-dev libelf-dev \
            openssl dkms libudev-dev libpci-dev libiberty-dev autoconf wget xz-utils git \
            libcap-dev bc rsync cpio dh-modaliases debhelper kernel-wedge curl gawk dwarves zstd
    - name: Checkpatch
      run: |
        source ./version
        cd linux-$KVER
        # Skip apple-bce because it needs a lot of formatting changes, and
        # modules that we won't be sending upstream.
        scripts/checkpatch.pl --no-signoff --terse --no-summary \
            $(echo ../*.patch | tr " " "\n" | grep -v -e "apple-bce" -e asahi -e applesmc -e bcm5974 ) || true
    - name: Apply Patches
      run: |
        source ./version
        cd linux-$KVER
        
        for patch in ../*.patch; do
          echo "Applying patch $patch..."
          patch -Np1 < $patch
        done

    - name: Setting Config
      run: |
        source ./version
        cd linux-$KVER
        
        cp arch/x86/configs/x86_64_defconfig ./.config
        cat ../extra_config >> .config
        make olddefconfig
        
    - name: Building Kernel
      run: |
        source ./version
        cd linux-$KVER
        
        make
        
